#header {
    position: fixed;
    top: 0;        
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Hovering effect */
    background-color: white;
}

#headerContent {
    display: flex;
    align-items: center;
}

#header h1 {
    margin: 0;
    font-size: 2.3vw; /* Adjust as needed */
}

body, html {
    margin: 0;
    padding: 0;
    height: auto; /* Increase the body height to allow scrolling */
    font-family: 'Inter', sans-serif;
}

#leftSide {
    position: absolute;
    top: 70px;
    left: 2%;
    width: 50%; /* Half of the page */
    height: auto;
    overflow-y: auto; /* Change to auto for scrollable content */
    max-height: 700vh; /* Adjust height as needed */
    font-family: 'Inter', sans-serif; /* Style the text */
    text-align: left; /* Center the text */
    transition: top 0.3s ease; /* Smooth transition for moving the text up */
    padding: 20px; /* Added padding to create space between content and edges */
}


#leftSide h2 {
    margin-top: 30px; /* Increase spacing above each heading */
    margin-bottom: 30px;
    font-size: 1.9vw; 
}

#leftSide p {
    margin-bottom: 25px;/* Increase spacing below each paragraph */
    font-size: 1.1vw; 
}

#resume {
    font-family: 'Inter', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
     }

     .section {
        margin-bottom: 20px;
        margin-left: -8px;
        padding: 2px;
        position: relative;
        border-radius: 10px;
        overflow: hidden; /* This should clip any overflowing content */
        transition: box-shadow 0.3s ease;
        width: calc(100% - 40px); /* Adjust width to account for padding */
    }
    
    .section:hover {
        box-shadow: 15px 10px 60px rgba(0, 0, 0, 0.2);
    }
    
    h2 {
        font-size: 28px;
        color: #333;
        margin: 0; /* Reset margin */
        padding-bottom: 10px; /* Add padding for spacing */
        transition: transform 0.3s ease; /* Added transition for text */
    }
    
    .section:hover h2 {
        transform: translateY(-5px); /* Lift up text on hover */
    }
    
    .entry {
        margin-left: 20px;
        padding-left: 10px;
        border-left: 3px solid #333;
    }
    
    .entry p {
        margin: 0;
        padding: 5px 0;
    }
    
    strong {
        font-weight: bold;
    }
    
    em {
        font-style: italic;
    }
    
    a {
        color: #000000;
        text-decoration: none;
    }

    #rightSide {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%; /* Half of the page */
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; /* Center the carousel */
        overflow: hidden; /* Hide overflow */
        background: linear-gradient(to bottom right, #33659b, #AEC6CF);
    }
    
    .container {
        width: 100%;
        display: flex;
        justify-content: space-evenly; /* Distribute items evenly */
        height: auto; /* Adjust height as needed */
        gap: 10px;
    }
    
    .container > div {
        flex: 0 0 170px; /* Initial size */
        border-radius: 0.5rem;
        overflow: hidden; /* Ensure images don't overflow */
        transition: flex .4s ease;
        cursor: pointer;
        box-shadow: 1px 5px 15px #000000;
        position: relative;
    }
    
    .container > div:hover {
        flex-grow: 1.1; /* Allow the container to grow on hover */
        box-shadow: 1px 3px 15px #000000;
    }
    
    .container img {
        width: 110%;
        height: 100%;
        object-fit: cover;
        transition: transform .4s ease;
    }
    
    .container > div:hover {
        flex: 0 0 300px; /* Increased size on hover */
        box-shadow: 1px 3px 15px rgb(0, 0, 0);
    }

    .container > div:hover img {
        transform: scale(1.4); /* Scale up image on hover */
    }
    
#downloadButton {
    position: fixed;
    top: 30px;
    right: 20px;
    padding: 11px;
    background-image: linear-gradient(to bottom right, #33659b, #AEC6CF);
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-size: 17px;
    border-radius: 7px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Added transition properties */
}

#downloadButton:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Smoother shadow on hover */
    transform: translateY(-4px); /* Lift up button on hover */
}

:root {
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

/* Optionally use the variable font version in supporting browsers */
@supports (font-variation-settings: normal) {
    :root { font-family: 'InterVariable', sans-serif; }
}


.scrollDownArrow {
    position: fixed;
    left: 25%;
    bottom: 20px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(-45deg);
    animation: bounce 2s infinite;
    z-index: 2;
    transition: opacity 0.5s ease; /* Add this line */
    opacity: 1; /* Add this line */
}



@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) rotate(-45deg);
    }
    40% {
        transform: translateY(-20px) rotate(-45deg);
    }
    60% {
        transform: translateY(-10px) rotate(-45deg);
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 3vw; 
    }
    #header h1 {
        font-size: 4.2vw; 
    }
    #leftSide h2 {
        font-size: 3vw; 
    }
    #leftSide p {
        font-size: 2vw; /* Larger font for better readability on smaller screens */
    }
}

/* Further adjustments for even smaller screens */
@media only screen and (max-width: 480px) {
    body {
        font-size: 4vw; 
    }
    #header h1 {
        font-size: 7vw; 
    }
    #leftSide h2 {
        font-size: 5vw; 
    }
    #leftSide p {
        font-size: 3.5vw; /* Larger font for better readability on smaller screens */
    }
}

/* Dropdown styles */
.entry {
    position: relative;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 3px solid #333;
}

.entry:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    left: 0px;
    right: 10px;
}

.dropdown-content p {
    margin: 0;
}

.section {
    overflow: visible;
}
